body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #333;
    background:#ffffff;
    opacity: 0.9;
}

.navbar {
    background-color: #8cf7e5;
    text-size-adjust: unset;
}

.nav-link {
    color: #0051ff; /* !important;*/
}

.navbar a:hover {
    background: #82ec90;
    color: #e6f7ff;
}

.navbar-nav .nav-item .nav-link.active {
    background-color: #007BFF; /* Color de fondo del enlace activo */
    color: #FFF;             /* Color del texto del enlace activo */
    border-radius: 5px;       /* Bordes redondeados */
}

/* Opcional: Puedes agregar estilos adicionales para efectos visuales */
.navbar-nav .nav-item .nav-link.active:hover {
    background-color: #0056b3; /* Color de fondo al pasar el cursor */
    color: #ffffff;
}

.lista {
    background-color: #8cf7e5;
    color: #2c40f1f5;
    border: 1px solid #2c40f1f5;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    width: 60%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo {
    height: 50px;
}

.stylized-title {
    color: #007bff;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

article{
    width: 90%;
    border: 1px solid #2c40f1f5;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
}

.caja {
    width: 800px;
    /* height: 400px; */
    margin: auto;
    margin-top: 30px;
    /*background: #4828bbc7;*/
    box-shadow: 20px
        /*sombra horizontal*/
        50px
        /*vertical*/
        40px
        /*difuminado*/
        50px #0005;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.foto {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    box-shadow: 5px 5px 10px #35e97ae3;
}

.carousel-item {
    position: relative;
    margin: auto;
    width: 100%;
    /* Ancho deseado del carrusel */
    height: 250px;
    /* Altura deseada del carrusel */
    text-align: center;
}

.carousel-item img {
    width: 400px;
    height: 250px;
    object-fit: contain;
    object-position: center;
}

.container_dividido {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px;
}

.left,
.right {
    flex: 1;
    margin: 10px;
    place-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

button {
    width: fit-content;
}

.contact-info a {
    color: #007bff;
    /* Blue */
    margin-right: 10px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

footer {
    background: #646363;
    bottom: 0;
    padding: 5px;
    position: fixed;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    font-size: 1em;
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
    cursor: grab;
}

.whatsapp-float img {
    margin-top: 10px;
    width: 40px;
    height: 40px;
}

.whatsapp-float:hover {
    background-color: #128c7e;
}

.whatsapp-float:active {
    cursor: grabbing;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}